

.title-box{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    height: 340px;
}
.title-box div{
margin: 10px;
display: flex;
color: aliceblue;
justify-content: center;
align-items: center;
}

.title-box .title p{

    font-size: 130px;
    color: aliceblue;
    padding-bottom: 100px;
    font-weight: 300;
     background: linear-gradient(190deg, #8132d1, #4c2c86);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
text-shadow: rgba(165,85,218,255) 0px 0px 10px;
 animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }

}
.title-box .btns{
    display: flex;
    justify-content: center;
    align-items: center;

}
.title-box .title{
  margin-top: 100px;
}

.btns div{
    border-radius: 10px;
    height: 30px;
    gap: 10px;
 
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px 12px;
    cursor: pointer;
     transition: all 0.2s ease-in-out;
}
.btns div:hover{
//box-shadow: white 0px 0px 10px;
transform: translateY(-3px);
}
.btns .gettingStarted{
    display: flex;
       border: 2px #221335 solid;
    justify-content: center;
    align-items: center;
    background-color:rgba(9,9,11,255)
}
.title-para{
font-size: 30px;
 width: 75%;
word-wrap: normal;
  text-align: center; 
  color: rgba(142,135,155,255);
}
.btns .gettingStarted:hover{
    opacity: 80%;
    background-color:#2c1546;
    border: 2px #562289 solid;
}
.btns .view-leaderboard{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg,rgba(150,57,236,255),rgba(179,99,253,255));
}
.btns .view-leaderboard:hover{
box-shadow: white 0px 0px 10px;
}
.btns p{
    color: white;
}
.svg{
    width: 20px;
    height: 20px;
    color: aliceblue;
}
.btext{
  white-space: nowrap;
  font-size: 14px;
  padding: 0;
}